<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
      [errorMessage]="errorMessage$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      [displayCode]="displayCode$ | async"
      (checked)="checkChanged($event)"
      (initiliazeNewProduct)="newProduct()"
      (selected)="productSelected($event)">
    </pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
      [errorMessage]="errorMessage$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (clearCurrent)="clearCurrentProduct()"
      (update)="updateProduct($event)"
      (delete)="deleteProduct($event)"
      (create)="createProduct($event)">
    </pm-product-edit>
  </div>
</div>